
@import "../../scss/variables";

.sky {
  grid-column: 1 / 5;
  grid-row: 1 / 5;
  position: relative;
  background-origin: border-box;
  background-repeat: no-repeat;
  &__image {
    width: 100%;
    height: 100%;
    position: relative;
    top: 5rem;
    z-index: 2;
    opacity: .7;
  }
  &__current-data {
    position: absolute;
    top: 15%;
    left: 15%;
    text-align: center;
    z-index: 5;
    span .location {
      font-size: .8rem;
      color: $color-text;
      margin: .5rem 0 0 0;
      padding: 0;
      font-weight: 100;
      strong {
        font-size: 1rem;
        font-weight: 600;
      }
    }
    &--rise-set {
      width: 100%;
      height: auto;
      .rise {
        width: 33.3%;
        height: auto;
        float: left;
      }
      .age {
        width: 33.3%;
        height: auto;
        float: left;
      }
      .set {
        width: 33.3%;
        height: auto;
        float: left;
      }
    }
    &--diet {
      width: 100%;
      height: auto;
      .diet {
        width: 100%;
        &__prev {
          p {
            font-size: 1.5rem;
          }
        }
        &__next {
          p {
            font-size: 1.5rem;
          }
        }
      }
    }
    h1, h2, h3 {
      font-size: 3.6rem;
      font-weight: bold;
      font-family: $MainFont;
      letter-spacing: .7rem;
      margin: 1.2rem 0 3rem 0;
      color: $color-text;
    }
    em {
      font-size: 1rem;
      font-weight: 600;
      font-family: $MainFont;
      letter-spacing: .3rem;
      color: $color-text;
    }
    p {
      font-size: 2rem;
      letter-spacing: .4rem;
      font-weight: 900;
      font-family: $MainFont;
      margin: 1rem 0 2rem 0;
      color: $color-text;
    }
  }
}


